*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: bob;
    src: url(../css/bobbers/Bobbers\ Personal\ Use.ttf);
}

@font-face{
    font-family: muli;
    src: url(../css/Muli-Regular.ttf);
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: #fcfafa;
    font-family: muli;
}

.mobile-nav{
    display: none;
}

.navbar{
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    list-style: none;
    background: #f5f1e9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav{
    font-weight: 700;
}

.navbar-brand{
    font-family: muli;
    word-spacing: 15px;
    font-size: 30px;
    font-weight: 20px !important;
    text-align: center;
    margin-left: 350px;
}

a{
    text-decoration: none;
    color: #1d1d1d;
}

.nav a:hover{
    color: #4d16168c;
}

.avatar{
    margin-left: 20px;
}

.img-avatar{
    width: 30px;
    height: 30px;
}

.dropdown-menu{
    padding: 40px 30px;
    padding-left: 80px;
    height: 400px;
    min-width: 1200px; 
}

li:hover .dropdown-menu{
    display: block;
   
}

.dropdown-menu .col-md-3{
    margin-top: 80px;
}

.drop-img{
    width: 90%;
    height: 300px;
    position: absolute;
    object-fit: cover;
}

.drop-btn{
    background: #fff;
    border: none;
    padding: 10px;
    position: relative;
    margin: 120px 160px;
    font-weight: 700;
}

.hero{
    height: 500px;
    background: url(../images/hero-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 50px 0px;
    text-align: left;
    color: #f1f1f1;
    padding: 90px 130px;
    font-size: 24px;
    line-height: 30px;
    width: 100%;
}

.hero-btn{
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    border: none;
}

.side-tag{
    position: fixed;
    background-color: #e6490b;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: rotate(270deg);
    left: -38px;
    top: 450px;
    font-size: 16px;
    z-index: 10;
}

.cta1{
    text-align: center;
    background: #f5f1e9;
    height: 300px;
    padding: 60px 20px;
    font-size: 40px;
}

.labels{
    font-size: 30px;
}

.first-slide{
    display: none;
}

.welcome{
    height: 300px;
    padding: 70px 50px;
    text-align: center;
}

.welcome-header{
    padding: 30px 0px;
}

.welcome-text{
    text-align: left;
}

.cta2-desktop{
    background: #fbf6ea;
    text-align: center;
    padding: 50px 0px;
    padding-top: 90px;
}

.p-colors{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
}

.nude{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #f3bca2;
    margin-right: 10px;
}

.gray{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #c5c4c4;
    margin-right: 10px;
}

.black{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #1f1b19;
    margin-right: 10px;
}

.green{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #27472c;
}

.nude.active{
    border: 2px solid #1d1d1d;
}

.cta2-img-desktop{
    width: 500px;
    margin: 70px 0px;
    margin-left: 40px;
}

.product{
    text-align: center;
    margin: 80px 0;
}
.product-images{
    width: 100%;
}

.p-img{
    width: 100%;
}
.product-btn{
    display: none;
}

.cup{
    margin-top: 3px;
}

.pan{
    margin-top: 125px;
}

.dishes-desktop{
    width: 100%;
    background: #f5f1e9;
    position: relative;
}

.dishes{
    display: none;
}

.dish-img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.dish-text{
    text-align: center;
    padding-top: 90px;
}

.dish-btn{
    background: #fff;
    padding: 10px;
    border: none;
}

.footer1{
    padding: 90px 40px;
    background: #6c674d;
    color: #fff;
}

ul{
    list-style: none;
    line-height: 30px;
}

.sub{
    border: none;
    width: 290px;
    padding: 10px;
}

.sub-btn{
    border: none;
    padding: 10px;
    background: #fff;
}

.footer2{
    background: #807c62;
    padding: 0px 30px;
    padding-top: 30px;
    color: #fff;
}

ul.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer-list li{
    margin: 5px;
    font-weight: 200;
}

.footer-list a{
    color: #fff;
}

@media (max-width: 480px){
    body{
        overflow-x: hidden;
    }

    .mobile-nav{
        display: block;
    }

    .desktop-nav{
        display: none;
    }

    .navbar-brand{
        width: 0%;
        margin-left: 0;
        margin-right: 70px;
        align-self: center;
        justify-content: center;
        letter-spacing: 5px;
    }

    .avatar{
        width: 10%;
        margin-left: 0;
    }

    .hero{
        height: 500px;
        background: #4d1616 url(../images/mobile-hero-banner3x.webp);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        object-fit: cover;
        text-align: center;
        color: #f1f1f1;
        padding: 60px 20px;
        font-size: 16px;
        line-height: 30px;
        width: 100%;
    }

    .cta1{
        display: none;
    }

    .first-slide{
        width: 100%;
        text-align: center;
        padding: 30px 20px;
        background: #f5f1e9;
    }

    .welcome-text{
        text-align: center;
    }

    .welcome{
        padding-top: 10px;
        height: 500px;
    }

    .cta2-desktop{
        text-align: center;
        padding: 0 10px;
    }

    .cta2-img-desktop{
        width: 200px;
    }

    .product{
        padding: 0 20px;
    }

    .product h4{
        display: none;
    }

    .product-btn{
        display: block;
        background: #e6490b;
        color: #fff;
        border: none;
        padding: 10px;
        margin-top: 40px;
        margin-left: 75px;
    }

    .dishes-desktop{
        display: none;
    }

    .dishes{
        display: block;
        text-align: center;
        background: #f5f1e9;
        padding-top: 50px;
    }

    .dishes-text{
        padding: 0 20px;
    }

    .dishes-btn{
        background: #fff;
        border: none;
        padding: 10px;
        margin: 20px 0;
    }

    .dishes .row{
        width: 100%;
    }

    .dishes .col-md-6{
        width: 50%;
        margin: 0;
        padding: 0;
    }

    .img{
        width: 194px;
        height: 200px;
        object-fit: cover;
    }

    .sub{
        border: none;
        width: 200px;
        padding: 10px;
    }

    .sub-btn{
        border: none;
        padding: 10px;
        background: #fff;
    }

    .mobile{
        display: none;
    }

    .footer2{
        color: rgb(199, 197, 197);
    }

    .footer2 .col-md-6{
        width: 50%;
    }

    ul.footer-list{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .footer-list a{
        color: rgb(199, 197, 197);
    }
}

@media (min-width: 481px) and (max-width: 780px){
    body{
        overflow-x: hidden;
    }

    .mobile-nav{
        display: block;
    }
    .desktop-nav{
        display: none;
    }

    .navbar-brand{
        width: 0%;
        margin-left: 0;
        margin-right: 70px;
        align-self: center;
        justify-content: center;
        letter-spacing: 5px;
    }

    .avatar{
        width: 10%;
        margin-left: 0;
    }

    .hero{
        height: 500px;
        background: #4d1616 url(../images/mobile-hero-banner3x.webp);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        object-fit: cover;
        text-align: center;
        color: #f1f1f1;
        padding: 60px 20px;
        font-size: 16px;
        line-height: 30px;
        width: 100%;
    }

    .cta1{
        display: none;
    }

    .first-slide{
        width: 100%;
        text-align: center;
        padding: 30px 20px;
        background: #f5f1e9;
    }

    .welcome-text{
        text-align: center;
    }

    .welcome{
        padding-top: 10px;
        height: 500px;
    }

    .cta2-desktop{
        text-align: center;
        padding: 0 10px;
    }
    .cta2-img-desktop{
        width: 200px;
    }

    .product{
        padding: 0 20px;
    }

    .product h4{
        display: none;
    }

    .product-btn{
        display: block;
        background: #e6490b;
        color: #fff;
        border: none;
        padding: 10px;
        margin-top: 40px;
        margin-left: 75px;
    }

    .dishes-desktop{
        display: none;
    }

    .dishes{
        display: block;
        text-align: center;
        background: #f5f1e9;
        padding-top: 50px;
    }

    .dishes-text{
        padding: 0 20px;
    }

    .dishes-btn{
        background: #fff;
        border: none;
        padding: 10px;
        margin: 20px 0;
    }

    .dishes .row{
        width: 100%;
    }

    .dishes .col-md-6{
        width: 50%;
        margin: 0;
        padding: 0;
    }

    .img{
        width: 194px;
        height: 200px;
        object-fit: cover;
    }

    .sub{
        border: none;
        width: 200px;
        padding: 10px;
    }

    .sub-btn{
        border: none;
        padding: 10px;
        background: #fff;
    }

    .mobile{
        display: none;
    }

    .footer2{
        color: rgb(199, 197, 197);
    }

    .footer2 .col-md-6{
        width: 50%;
    }

    ul.footer-list{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .footer-list a{
        color: rgb(199, 197, 197);
    }
}